<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="camelcase.technovation">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the uEmail text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/animal_notification"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- https://github.com/firebase/quickstart-android/blob/d307afe958a672bebdf3394c10017cc671c027e2/messaging/app/src/main/AndroidManifest.xml#L48-L52 -->
        <service android:name=".chat.utils.FirebaseNotificationMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".chat.activities.AuthActivity"
            android:label="@string/title_activity_auth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".chat.activities.AuthActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="camelcase.technovation.chat.activities.AuthActivity" />
        </activity>
        <activity
            android:name=".chat.activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".chat.activities.AuthActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="camelcase.technovation.chat.activities.AuthActivity" />
        </activity>
        <activity
            android:name=".chat.activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".chat.activities.ConnectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_connect">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="camelcase.technovation.chat.activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".chat.activities.ChatActivity"
            android:label="@string/title_activity_chat" />

        <!-- https://developer.android.com/training/notify-user/navigation.html#ExtendedNotification -->
        <activity
            android:name=".chat.activities.ConfirmActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="" />
        <activity android:name=".chat.activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".chat.activities.StrengthsActivity" />
        <activity android:name=".chat.activities.SavedMessagesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".BaseActivity" />

        <activity android:name=".todo.activities.NotificationViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".todo.activities.CreatureViewActivity" />
        <activity android:name=".todo.activities.CreatureSelectActivity" />
        <activity android:name=".todo.activities.SetNotificationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".todo.notifications.AlarmReceiver"/>
        <activity android:name=".todo.activities.EditNotificationActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

</manifest>